body{
    background-color: black;
}
.profileScreen{
    height: 100%;
    color:white;
    position: relative;
}
.nav-fixed{
    position: fixed;
    top:0;
}

.profileScreenBody{
    display:flex;
    flex-direction: column;
    width:50%;
    margin-left:auto;
    margin-right: auto;
    max-width:800px;
    margin-top:8%;
}
.profileScreenInfo{
    display: flex;
}
.profileScreenBody>h1{
    font-size: 60px;
    font-weight: 400;
    border-bottom:1px solid #282c2d;
    margin-bottom:20px;
} 
.profileScreenInfo >img{
    height: 100px;
}
.profileScreenDetails{
    color:white;
    margin-left:25px;
    flex:1; 
}
.profileScreenDetails h2 {
    background-color:gray ;
    padding:15px;
    font-size:15px;
    padding-left:20px;
    position: relative;
    z-index:10;
}
.profileScreenSignOut{
    padding:10px 20px;
    font-size:1rem;
    margin-top:5%;
    width:100%;
    color:#fff;
    background-color: #e50914;
    cursor: pointer;
    font-weight: 600;
    border:none;
    cursor: pointer;
}
.profileScreenPlans >h3{
    border-bottom:1px solid #282c2d;
    padding-bottom:10px;
}
.profileScreenPlans{
    margin-top:20px;
}